body {
	background-color: #FDFEF9;
	color: #7C1E43;
}

#your_list {
	display: none;
}

.container {
	text-align: center;
	font-family: 'Didot';
}

h1 { 
	text-transform: uppercase;
	padding-top: 30px;
	padding-bottom: 10px;
	font-family: 'Didot';
	letter-spacing: .08em;
	font-size: 3em;
	margin-right: 20px;
	margin-left: 20px;

}

h2 { 
	padding-bottom: 15px;
	font-size: 1.8em;
	font-style: italic;

}


.btn {
	margin: 35px;
	padding: 15px;
	font-family: "Didot";
	font-style: italic;

}

.form-group { 
	padding: 5px;
}

p { 
	padding-top: 10px;
	padding-bottom: 30px;
	font-size: 25px;

}

.fav_header {
	font-size: 3.5em;
	padding-bottom: 25px;
	line-height: 70px;
}

.favthing1, .favthing2, .favthing3, .favthing4, .favthing5 {
	color: black;
}




